#div1{
    background-color: aquamarine;
    color: brown;
}
#div2{
    background-color: pink;
    color:blue;

}
#s1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: aqua;
}
#s2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color:greenyellow;
}