
#booking form .all{
    text-align: center;
 
}
#booking form .col1{
    display: block;
   
    color:white;
    gap:1.5rem;
    padding:30px;
    
}
#booking form .col2{
    display: block;
   
    color:white;
    gap:1.5rem;
    padding:30px;
    text-align: center;
    
}
#booking form .col3{
    display: block;
    
    color:white;
    gap:1.5rem;
    padding:60px;
    height:100px;
    text-align: center;

}




#booking form{

    margin: 20px;
    border: 1px solid white;
    border-radius: 5px;
}
#booking form .flex.box{
    flex: 1 1 20rem;


}
#booking form .flex.box p{
    font-size: 2rem;
    color: var(--white);
    

}
#booking form .flex.box .input{
    width:100%;
    padding: 1rem 0;
    font-size: 1.8rem;
  
    margin: 1rem 0;
}
#booking h2{
    color: white;
    margin:0;
    padding:30px;
}

